<div class="call-in-progess" *ngIf="jsSipState.session">
  <div class="box">
      <div *ngIf="jsSipState.session.status !== 9">
        Calling {{jsSipState.session.remote_identity.display_name}}<br><br>
      </div>
      <div *ngIf="jsSipState.session.status === 9">
        Call established with {{jsSipState.session.remote_identity.display_name}}<br><br>
      </div>
    <button mat-raised-button class="hangup" (click)="hangup.emit()"><mat-icon svgIcon="call-end"></mat-icon></button>
  </div>
</div>

<div class="call-in-progess call-incomming" *ngIf="jsSipState.incomingSession">
  <div class="box">
    {{ jsSipState.incomingSession.session.remote_identity.display_name }} is calling!<br>
    <small>{{ jsSipState.incomingSession.session.remote_identity.user }}</small>
    <br><br>
    <button mat-raised-button class="take-call" (click)="take.emit()"><mat-icon svgIcon="call"></mat-icon></button>
    <button mat-raised-button class="hangup" (click)="reject.emit()"><mat-icon svgIcon="call-end"></mat-icon></button>
  </div>
</div>