<div class="survey-box">
  <button mat-icon-button (click)="close()" class="close">
    <mat-icon svgIcon="close">X</mat-icon>
  </button>
  <h3>How was the call?</h3>
    <span *ngFor="let number of [1,2,3,4,5]">
      <mat-icon 
        [svgIcon]="(lastCall.rating >= number)? 'star-full': 'star-border'"
        (click)="setRating(number)"
        [ngClass]="{star: true, selected: (lastCall.rating >= number )}">
      </mat-icon>
    </span>
  <h4>Any issues?</h4>
  <ul>
    <li *ngFor="let issue of issues" (click)="setIssue(issue.value)" [ngClass]="{selected: (this.lastCall.issues === issue.value)}">
      {{ issue.title }}
    </li>
  </ul>
  <mat-form-field class="comments"  *ngIf="lastCall.issues == 'others_comments'">
    <input matInput (keyup)="setComment($event)"/>
  </mat-form-field>
  <button mat-button (click)="send()" class="send">Submit</button>
</div>

