
<h3 *ngIf="user && user._id" class="my-number">
  My number <span>{{ user.user | phoneNumber }}</span>
</h3>

<mat-nav-list *ngFor="let directory of directories | async" [@toggleState]="directoryToggle" class="contacts-list">
  <h3 matSubheader (click)="toggleDirectoryList(directoryToggle)">
    {{directory.title}} 
        <mat-icon svgIcon="arrow-down" class="arrow" [@arrowState]="directoryToggle"></mat-icon>

  </h3>  
  <a mat-list-item *ngFor="let item of directory.items" (click)="call(item)" class="list">
     <h3 matLine>{{ item.title }}</h3>
     <h3 matLine>{{ item.subtitle }}</h3>
     <mat-icon svgIcon="call"></mat-icon>&nbsp;{{item.number}}
  </a>
</mat-nav-list>

<mat-nav-list [@toggleState]="contactsToggle" class="contacts-list">
  <h3 matSubheader (click)="toggleContactsList(contactsToggle)">
    Contact list
    <mat-icon svgIcon="arrow-down" class="arrow" [@arrowState]="contactsToggle"></mat-icon>
  </h3>  
  <a mat-list-item *ngFor="let item of contacts | async" class="list">
     <mat-icon mat-list-icon svgIcon="person" (click)="edit(item)"></mat-icon>&nbsp;
     <h3 matLine><b>{{ item.title }}</b></h3>
     <h3 matLine>{{ item.subtitle || (item.number | phoneNumber )}}</h3>
     <mat-icon svgIcon="call" (click)="call(item)"></mat-icon>&nbsp;&nbsp;
     <mat-icon svgIcon="sms" (click)="sms(item)"></mat-icon>&nbsp;
  </a>
</mat-nav-list>